<div id="userdetails">
  <h2>{{user.name}}</h2>
  <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}">

  <br>
  <br> Order:
  <select ng-model="sortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars DESC</option>
    <option value="+stargazers_count">Stars ASC</option>
    <option value="+language">Language</option>
  </select>

</div>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy:sortOrder">
      <td>{{repo.name}}</td>
      <td>{{repo.stargazers_count | number}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>